* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-left-radius: 1.5rem;
}

.img-box {
  height: 300px;
  width: 100%;
}

.img-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.icon, .line {
  background-color: #fa9e0d;
}

.starIcon {
  color: #fa9e0d;
}
